<%= form_for(@recipe) do |f| %>
  <% if @recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
      <% @recipe.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= f.label :title %><br>
    <%= f.text_field :title, class: "form-control", placeholder: "My favorite receipe's name" %>
  </div>
  <div class="field form-group">
    <%= f.label :ingredients %><br>
    <%= f.text_area :ingredients, class: "form-control", placeholder: "List your ingredients" %>
  </div>
  <div class="field form-group">
    <%= f.label :steps %><br>
    <%= f.text_area :steps, class: "form-control", placeholder: "List your steps" %>
  </div>
  <div class="actions">
    <%= f.submit class: "btn btn-success" %>
  </div>
<% end %>
