<%= form_for(@recipe) do |f| %>
  <% if @recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
      <% @recipe.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= f.label :title %><br>
    <%= f.text_field :title, class: "form-control", placeholder: "Berry Chantilly Cake" %>
  </div>
  <div class="field form-group">
    <%= f.label :ingredients %><br>
    <%= f.text_area :ingredients, class: "form-control", placeholder: "3 eggs, 1 cup milk, 4 cups flour" %>
  </div>
  <div class="field form-group">
    <%= f.label :steps %><br>
    <%= f.text_area :steps, class: "form-control", placeholder: "1. Preheat oven to 350 degrees." %>
  </div>
  <div class="field form-group">
    <%= f.label "Author" %><br>
    <%= f.collection_select :user_id, User.all, :id, :name, {prompt: "Select an author"}, {class: "form-control"} %>
  </div>

  <div class="form-group">
    <%= f.label "Photo" %><br>
    <%= f.file_field :photo %>
    <% if @recipe.photo.exists? %>
      <%= label_tag "Current Image" %>
      <p><%= image_tag @recipe.photo.url(:thumb) %></p>
    <% end %>
  </div>

  <div class="actions">
    <%= f.submit class: "btn btn-success" %>
  </div>
<% end %>
