<div class="row">

  <div class="col-sm-12">
    <div class="pull-right">
      <%= link_to 'Show All', recipes_path, class: "btn btn-default" %>
      <%= link_to 'New Recipe', new_recipe_path, class: "btn btn-success" %>
    </div>

    <h2>Recipes</h2>

  </div><!--col-sm-12-->

</div><!--row-->

<div class="row">
  <% @recipes.each do |recipe| %>
    <div class="col-sm-4">
    <div class="panel panel-default">
      <div class="panel-heading">
      <h3 class="panel-title"><a href="#" data-toggle="modal" data-target="#myModal_<%= recipe.id%>"><%= recipe.title %></a></h3>
      </div> <!-- panel-heading -->
      <div class="panel-body">
      <a href="#" data-toggle="modal" data-target="#myModal_<%= recipe.id%>">
        <%= image_tag recipe.photo.url(:medium) %></a>
        <h5>Ingredients:</h5>
        <%= recipe.ingredients %><br><br>
        <h6>Steps:</h6>
        <%= recipe.steps %>
      </div> <!-- panel-body -->
      <div class="panel-footer">
        <%= link_to content_tag(:i, nil, class: "fa fa-eye"), recipe %>
        <%= link_to content_tag(:i, nil, class: "fa fa-pencil"), edit_recipe_path(recipe) %>
        <%= link_to content_tag(:i, nil, class: "fa fa-trash-o"), recipe, method: :delete, data: { confirm: 'Are you sure?' } %>
      </div> <!-- panel-footer -->
    </div><!--panel panel-default-->
    </div><!--col-sm-4-->

    <!-- Modal -->
    <div class="modal fade" id="myModal_<%= recipe.id%>" tabinde="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h2 class="modal-title" id="myModalLabel"><%= recipe.title %></h2>
          </div> <!-- modal header -->
          <div class="modal-body">
             <%= image_tag recipe.photo.url(:large), class:"img-responsive" %>
            <div class="row">
              <div class="col-xs-4 ingredients">
                <h4>Ingredients</h4>
                <p><%= recipe.ingredients %></p>
              </div><!--col-xs-4-->
              <div class="col-xs-8 steps">
                <h4>Steps</h4>
                <p><%= recipe.steps %></p>
              </div><!--col-xs-8-->
            </div><!--row-->
          </div> <!-- modal body -->

          <div class="modal-footer">
            <%= link_to content_tag(:i, nil, class: "fa fa-pencil"), edit_recipe_path(recipe) %>
            <%= link_to content_tag(:i, nil, class: "fa fa-trash-o"), recipe, method: :delete, data: { confirm: 'Are you sure you want to delete this recipe?' } %>
          </div><!-- modal footer -->
        </div> <!-- modal content -->
      </div> <!-- modal dialogue -->
    </div> <!-- modal fade -->

  <% end %><!--recipes.each do-->
</div><!--row-->

<%= will_paginate @recipes %>

