<div class="row">
  <div class="col-sm-12">
    <h1><%= @recipe.title %></h1>
  </div><!--col-sm-12-->
</div><!--row-->

<div class="row">
  <div class="col-sm-3 ingredients">
    <h3>Ingredients</h3>
    <p><%= @recipe.ingredients %></p>
  </div><!--col-sm-3-->
  <div class="col-sm-9 steps">
    <h3>Steps:</h3>
    <p><%= @recipe.steps %></p>
  </div><!--col-sm-9-->
</div><!--row-->

<%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<%= link_to 'Back', recipes_path %>
